$gunmetal: #262B2B;
$ghost-white: #fffaff;
$dim-gray: #686963;
$malachite: #09e85e;
$mustard: #f7ce5b;

:root {
    --gunmetal: #262B2B;
    --ghost-white: #fffaff;
    --dim-gray: #686963;
    --malachite: #09e85e;
    --mustard: #f7ce5b;
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("/fonts/UbuntuMono-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("/fonts/UbuntuMono-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("/fonts/UbuntuMono-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("/fonts/UbuntuMono-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

html {
    background: black;
	font-family: "Ubuntu Mono";
	text-align: center;
    color: $ghost-white;
}

main {
    margin: 60px auto;
    width: 800px;
    text-align: start;
}

a {
    color: $ghost-white;
    text-underline-offset: 4px;
}

.content {
    background: $gunmetal;
    padding: 12px 25px;
    border: 1px solid var(--dim-gray);
    border-radius: 12px;
}

.codeboi-pfp {
    border-radius: 50%;
}

.muted {
    color: $dim-gray;
}

@media (max-width: 1000px) {
    html {
        font-size: 0.9rem;
    }

    main {
        width: 80vw;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 0.85rem;
    }

    main {
        width: 90vw;
    }
}
