$gunmetal: #262B2B;
$ghost-white: #fffaff;
$raisin-black: #29262B;
$malachite: #09e85e;
$mustard: #f7ce5b;

@font-face {
    font-family: "Ubuntu Mono";
    src: url("/fonts/UbuntuMono-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("/fonts/UbuntuMono-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("/fonts/UbuntuMono-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("/fonts/UbuntuMono-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

html {
    background: black;
	font-family: "Ubuntu Mono";
	text-align: center;
    color: $ghost-white;
}

main {
    margin: 0 auto;
    width: max-content;
    text-align: start;
}

.main-container {
    background: $gunmetal;
    border-radius: 12px;

    width: 60vw;
    padding: 32px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.codeboi-pfp {
    border-radius: 50%;
}
