$gunmetal: #262B2B;
$ghost-white: #fffaff;
$dim-gray: #686963;
$malachite: #09e85e;
$mustard: #f7ce5b;

@import "./stylers";

:root {
    --gunmetal: #262B2B;
    --ghost-white: #fffaff;
    --dim-gray: #686963;
    --malachite: #09e85e;
    --mustard: #f7ce5b;
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("/fonts/UbuntuMono-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("/fonts/UbuntuMono-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("/fonts/UbuntuMono-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("/fonts/UbuntuMono-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

html {
    background: black;
    font-family: "Ubuntu Mono";
    text-align: center;
    color: $ghost-white;
}

main {
    margin: 60px auto;
    width: 800px;
    text-align: start;
}

a {
    color: $ghost-white;
    text-underline-offset: 4px;
}

.bg-design {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
    opacity: 0.35;
    filter: blur(50px);
}

.content {
    background: $gunmetal;
    padding: 12px 25px;
}

.content-border {
    border: 3px solid rgba(255, 255, 255, 0.24);
    border-radius: 12px;
    background-clip: padding-box;
}

.codeboi-pfp {
    border-radius: 50%;
}

.muted {
    color: $dim-gray;
}

.end-hr {
    background-color: $dim-gray;
    opacity: 0.7;
    height: 1px;
    border: none;
}

.end-info {
    font-size: 0.85rem;
    padding: 15px 0px 30px;
    line-height: 0.4;
}

.end-info a {
    transition: 0.12s color;
}

.end-info a:hover {
    color: $ghost-white;
}

@media (max-width: 1000px) {
    html {
        font-size: 0.9rem;
    }

    main {
        width: 80vw;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 0.85rem;
    }

    main {
        width: 90vw;
    }
}
